* {
    margin: 0;
    padding: 0;
}

nav {
    background: url("./images/landing.jpg") no-repeat center center/cover;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-bars {
    background-color: transparent;
    color: white;
    font-size: 40px;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 21px;
    margin-top: 21px;
}

.A {
    top: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.A figure figcaption {
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 700;
}

#flex-column>p {
    padding: 10px 15px;
}

#party-time {
    background: #f15a29;
    color: #fff;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #fff;
    margin: 2px;
    text-transform: capitalize;
    font-family: "BioRhyme";
    font-weight: 200;
}

.food {
    display: flex;
}

.foodphoto {
    display: flex;
    width: 80%;
    margin: 10% auto;
}

#fast-food-description {
    margin-left: 30px;
}

.foodimage {
    display: flex;
    flex-direction: column;
    border: 10px solid rgb(240, 236, 236);
    box-shadow: 0 0 4px whitesmoke;
    margin: 0 20px 0 0;
    ;
}

h1>span {
    font-weight: 700;
}

h4 {
    text-transform: capitalize;
    font-family: "BioRhyme";
}

.arrow {
    font-weight: bolder;
    font-size: 20px;
}


/* Header styles */

header {
    background: url("/images/landing.jpg") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 600px;
}

.big-logo {
    width: 40%;
}

#offers {
    height: 200px;
    display: flex;
}

#offers>p {
    text-transform: capitalize;
}

#flex-column {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 200px;
}

.menu-item {
    align-self: center;
    padding: 3px;
}

.menu-hover:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    cursor: pointer;
}


/* Menu offerings area */

#breakfast {
    background: url("breakfast.jpg") no-repeat center center/cover;
    width: 25%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    font-family: "BioRhyme";
    font-style: italic;
}

#breakfast:hover {
    background: linear-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("/images/breakfast.jpg") no-repeat center center/cover;
    color: #000;
}

#lunch {
    background: url("lunch.jpg") no-repeat center center/cover;
    width: 25%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    font-family: "BioRhyme";
    font-style: italic;
}

#lunch:hover {
    background: linear-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("/images/lunch.jpg") no-repeat center center/cover;
    color: #000;
}

#dinner {
    background: url("dinner.jpg") no-repeat;
    width: 25%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 31px;
    font-family: "BioRhyme";
    font-style: italic;
    background-position: center;
    background-size: cover;
}

#dinner:hover {
    background: linear-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("/images/dinner2.jpg") no-repeat center center/cover;
    color: #000;
}

#happy-hour {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/****** Fast food section ******/


/* Flex food images to be in column *


/* Button styling */

.btn {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #f15a29;
    border: 1px solid #f15a29;
    font-weight: bold;
    padding: 1px 1px;
    border-radius: 5px;
    display: block;
    width: 200px;
    margin-top: 1px;
}

.btn-right {
    /* position: absolute; */
    left: 30%;
}


/****** Fast food section ******/


/* Flex food images to be in column */

.drinks {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    margin: 10% auto;
}

#drinks-images {
    display: flex;
    border: 10px solid rgb(221, 216, 216);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-image: url("foodsBg.jpg");
    background-repeat: none;
    background-size: cover;
    background-position: center 100%
}

#tabbed-menu-inner {
    background-color: white;
    width: 80%
}

.food-shadow {
    box-shadow: 3px 3px 21px #a9a9a9;
}

#drinks-description {
    margin-right: 30px;
    text-align: right;
}


/* Tabbed menu section */

#our-food {
    display: flex;
}

figcaption {
    text-align: center;
    color: #f15a29;
    font-weight: bold;
}

#our-food li {
    list-style-type: none;
    color: #000;
    padding: 10px;
    text-align: center;
    width: 25%;
}

#our-food li:not(:first-child) {
    background: rgb(187, 186, 186);
    border: 1px solid rgba(83, 83, 83, 0.308);
}

#our-food li:first-child {
    color: #f15a29;
}

#fast-food-tab {
    display: flex;
    width: 90%;
    height: 300px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.fa-angle-left {
    margin: 40px;
    color: orangered;
}

.fa-angle-right {
    margin: 40px;
    color: orangered;
}


/* Navigation buttons styling */

.navigator {
    color: #f15a29;
    font-size: 2px;
    font-weight: bold;
    cursor: pointer;
}


/* Customer reviews styling */

#reviews {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#customer-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    box-shadow: 3px 3px 10px #dcdcdc;
}

#menu {
    width: 40%;
    padding-left: 4%;
    border-left: 1px solid #dcdcdc;
    margin: 4% 0;
}

#customers {
    width: 40%;
    padding-right: 4%;
    text-align: center;
    margin: 4% 0;
}

#customer-pics {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Call to action area */

#subscribe {
    background: url("/images/subscribe.jpg") no-repeat center center/cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#subscribe p {
    color: #fff;
    font-family: "BioRhyme";
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

input[type="email"] {
    width: 50%;
    padding: 10px 0;
}

input[type="submit"] {
    padding: 10px 10px;
    width: 40%;
    margin-left: 20px;
    border-radius: 2px;
    background-color: #f15a29;
    border: none;
    color: white;
}

.btn-subscribe {
    text-decoration: none;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 2px;
    color: #fff;
    background: #f15a29;
    margin-left: 20px;
}


/* Footer section */

footer {
    background: #f15a29;
    color: #fff;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#menu-logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#menu-logo-footer img {
    margin-right: 15px;
    height: 50px;
}

#menu-text {
    text-transform: uppercase;
    font-family: "BioRhyme";
    font-size: 20px;
    margin: 0;
}

#social-icons {
    color: #fff;
    display: flex;
    margin: 10% auto;
    justify-content: space-between;
    width: 50%;
}

.facebook {
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter {
    display: flex;
    justify-content: center;
    align-items: center;
}